<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Git Repo Search Filter</div>
    <div class="panel-body">
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input
            type="text"
            #searchBox
            class="form-control"
            placeholder="Search"
          />
        </div>
        <button style="margin-left:10px"
          (click)="getRepositories(searchBox.value)"
          type="button"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-primary panel-color">
    <div class="panel-heading">Repo Search Result</div>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let searchResult of searchResults">
          <div class="col-lg-4 col-sm-6">
            <div class="card hovercard card-custom custom-color">
              <div class="avatar ">
                <img
                  alt=""
                  src="../assets/images/oldtimer-4777978_640 (1).jpg"
                />
              </div>
              <h3>{{ searchResult.name }}</h3>
              <div class="row">
                <div class="col-lg-3 col-xs-3">
                  <div class="custom-circle">
                    <i class="glyphicon glyphicon-star"></i>
                    <span>{{ searchResult.stargazers_count }}</span>
                  </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                  <div class="custom-circle">
                    <i class="fas fa-code-branch"></i>
                    <span>Fork: {{ searchResult.forks }}</span>
                  </div>
                </div>
                <div class="col-lg-5 col-xs-5">
                  <div class="custom-circle">
                    <i class="far fa-code-branch"></i>
                    <span>OpenIssues: {{ searchResult.open_issues }}</span>
                  </div>
                </div>
              </div>
              <p class="custom-margin">{{ searchResult.description }}</p>

              <div class="card-footer text-muted card-bottom">
                <div class="btn-group btn-group-justified">
                  <a href="{{ searchResult.git_url }}" class="btn btn-primary"
                    >View Profile</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
