<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Git Repo Search Filter</div>
    <div class="panel-body">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input
            type="text"
            #searchBox
            class="form-control"
            placeholder="Search"
          />
        </div>
        <button
          (click)="getRepositories(searchBox.value)"
          type="button"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-primary panel-color">
    <div class="panel-heading">Repo Search Result</div>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let searchResult of searchResults">
          <div class="col-lg-4 col-sm-6">
            <div class="card hovercard card-custom custom-color ">
              <div class="avatar ">
                <img
                  alt=""
                  src="../assets/images/oldtimer-4777978_640 (1).jpg"
                />
              </div>
              <h3>{{ searchResult.name }}</h3>
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2">
                  <span>{{ searchResult.forks }}</span>
                </div>
                <div class="col-lg-2">
                  <span>{{ searchResult.open_issues }}</span>
                </div>
                <div class="col-lg-4"></div>
              </div>
              <p>{{ searchResult.description }}</p>
              <div class="bottom">
                <a
                  class="btn btn-primary btn-twitter btn-sm"
                  href="https://twitter.com/webmaniac"
                >
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  rel="publisher"
                  href="https://plus.google.com/+ahmshahnuralam"
                >
                  <i class="fa fa-google-plus"></i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  rel="publisher"
                  href="https://plus.google.com/shahnuralam"
                >
                  <i class="fa fa-facebook"></i>
                </a>
                <a
                  class="btn btn-warning btn-sm"
                  rel="publisher"
                  href="https://plus.google.com/shahnuralam"
                >
                  <i class="fa fa-behance"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
